<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
        <h1>Benvenuto <fa-icon [icon]="faCoffee"></fa-icon></h1>
        <h2>PC LOAD LETTER? What the Mundo does that mean?Mundo Smash!!!!</h2>
        <button type="button" class="btn btn-primary btn-lg" routerLink="/signup">Iscriviti</button>
    </div>
</section>
<section>
    <div class="container mt-5 mb-5 bg-white border">

        <div class="text-center mt-5">
            <h2>Cosa puoi fare in questo sito?</h2>
            <p>Mundo ti spiega passo passo i passaggi</p>
        </div>

        <div class="card-deck mt-5 mb-5 text-center">
            <div class="card">
              <div class="card-body ">
                <h5><fa-icon [icon]="faCoin"></fa-icon></h5>
                <h5 class="card-title">Mundo sell!</h5>
                <p class="card-text">Mundo send them on corporate retreat!</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5><fa-icon [icon]="faHome"></fa-icon></h5>
                <h5 class="card-title">Mundo buy!</h5>
                <p class="card-text">Mundo enforce corporate policy</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5><fa-icon [icon]="faBook"></fa-icon></h5>
                <h5 class="card-title">Mundo file!</h5>
                <p class="card-text">Mundo never start in mail room.</p>
              </div>
            </div>
          </div>
    </div>
</section>
