<div class="pannelLog">
    <div class="form-signin text-center mt-5 mb-5">
        <div class="card">
            <div class="card-body">
                <h3><fa-icon [icon]="faUser"></fa-icon></h3>
                <h5 class="card-title">Effettua Accesso</h5>

                <form #myForm="ngForm" (ngSubmit)="ServiceUtenti.controllUsers(datiLogin)">
                    <div class="mb-3">
                        <label class="form-label">Nome</label>
                        <input type="text" name="username" [(ngModel)]="datiLogin.username" required
                            class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" [(ngModel)]="datiLogin.password" required
                            class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>